@page "/applications/{application}/schema"
@using Configo.Domain
@inject ApplicationManager ApplicationManager
@inject IJSRuntime JsRuntime

@if (_application == null)
{
    <p>...loading</p>
    return;
}

<Heading Size="HeadingSize.Is1">
    <Icon Name="IconName.Server"/> @_application.Name JSON schema
</Heading>

<div id="editor-container" class="container-fluid" style="height: 75vh">
    
</div>

@code {
    private ApplicationListModel? _application;

    [Parameter]
    public string? Application { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("applications.schema.initializeEditor");
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Application == null)
        {
            throw new InvalidOperationException("Oi, where is the group");
        }
        _application = await ApplicationManager.GetApplicationAsync(Application, CancellationToken);
    }
}
