@page "/applications/{application}/schema"
@using Configo.Server.Domain
@inject ApplicationManager ApplicationManager
@inject SchemaManager SchemaManager
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

@if (_application == null || _schema == null)
{
    <p>...loading</p>
    return;
}

<MudText Typo="Typo.h4" GutterBottom="true">
    @_application.Name JSON schema
</MudText>

<div id="schema-editor-container" class="container-fluid">

</div>

@code {
    private string? _schema;
    private DotNetObjectReference<Schema>? _objectReference;
    private ApplicationModel? _application;

    [Parameter]
    public string? Application { get; set; }

    private async Task InitEditorIfNecessary()
    {
        if (_objectReference == null && _application != null)
        {
            _objectReference = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("schema.initialize", CancellationToken, _objectReference, _application.Id, _schema);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await InitEditorIfNecessary();
    }

    protected override async Task OnParametersSetAsync()
    {
        var application = await ApplicationManager.GetApplicationByNameAsync(Application, CancellationToken);
        if (application == null)
        {
            NavigationManager.NavigateTo("applications");
            return;
        }
        _application = application;
        _schema = await SchemaManager.GetSchemaAsync(_application!.Id, CancellationToken);
    }

    [JSInvokable]
    public void OnSave()
    {
        Snackbar.Add("Application schema saved successfully", Severity.Success);
    }

    protected override async ValueTask OnDisposeAsync()
    {
        if (_objectReference != null)
        {
            try
            {
                await JsRuntime.InvokeVoidAsync("schema.destroy", CancellationToken);
            }
            catch (JSDisconnectedException)
            {
                // Ignore
            }
            finally
            {
                _objectReference?.Dispose();
            }
        }
        await base.OnDisposeAsync();
    }

}
